**First things first, import the necessary dependencies**

In [ ]:
import keras
import numpy as np
import pandas as pd

**Next, import the data**

In [ ]:
#If you want to import from Drive
from google.colab import drive
drive.mount('/content/drive')
df=pd.read_csv('drive/My Drive/Courses/LearnML/2.DNNs/HousingPrices.csv')
df.head()

Mounted at /content/drive

,YearBuilt,2ndFlrSF,GrLivArea,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,YrSold,SalePrice
0,2003,854,1710,2,1,3,8,2008,208500
1,1976,0,1262,2,0,3,6,2007,181500
2,2001,866,1786,2,1,3,6,2008,223500
3,1915,756,1717,1,0,3,7,2006,140000
4,2000,1053,2198,2,1,4,9,2008,250000

**Now we set our x value to every attribute except for the sale price, and our y value to the sale price, since that will be what we are predicting**

In [ ]:
X = df.drop(columns=['SalePrice'])
Y = df[['SalePrice']]

**Let's build the model**

In [ ]:
model = keras.models.Sequential()

model.add(keras.layers.Dense(8, activation='relu', input_shape=(8,)))
model.add(keras.layers.Dense(8, activation='relu'))
model.add(keras.layers.Dense(1))

model.compile(optimizer='adam', loss='mean_squared_error')

WARNING: Logging before flag parsing goes to stderr.
W0826 19:24:59.128864 140368784877440 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0826 19:24:59.188923 140368784877440 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0826 19:24:59.198087 140368784877440 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0826 19:24:59.246445 140368784877440 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

**When we fit the model here, we are going to do something different. Keras has a built in feature called EarlyStopping that will stop the model when no more progress is being made. This saves GPU power and helps prevent our model from overfitting.**

In [ ]:
model.fit(X, Y, epochs=30, callbacks=[keras.callbacks.EarlyStopping(patience=3)])

W0826 19:25:13.414828 140368784877440 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

W0826 19:25:13.502914 140368784877440 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/30
1460/1460 [==============================] - 1s 483us/step - loss: 39123046500.9973
Epoch 2/30
1460/1460 [==============================] - 0s 30us/step - loss: 38794509028.6466
Epoch 3/30
1460/1460 [==============================] - 0s 31us/step - loss: 38298743894.9699
Epoch 4/30
1460/1460 [==============================] - 0s 33us/step - loss: 37554355247.6931
Epoch 5/30
1312/1460 [=========================>....] - ETA: 0s - loss: 36703149980.0976

/usr/local/lib/python3.6/dist-packages/keras/callbacks.py:569: RuntimeWarning: Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
  (self.monitor, ','.join(list(logs.keys()))), RuntimeWarning

1460/1460 [==============================] - 0s 44us/step - loss: 36483128524.8000
Epoch 6/30
1460/1460 [==============================] - 0s 46us/step - loss: 35054050093.5890
Epoch 7/30
1460/1460 [==============================] - 0s 38us/step - loss: 33194030223.0794
Epoch 8/30
1460/1460 [==============================] - 0s 32us/step - loss: 30889925197.1507
Epoch 9/30
1460/1460 [==============================] - 0s 32us/step - loss: 28092155275.5726
Epoch 10/30
1460/1460 [==============================] - 0s 33us/step - loss: 24747594311.5397
Epoch 11/30
1460/1460 [==============================] - 0s 36us/step - loss: 20925912069.6110
Epoch 12/30
1460/1460 [==============================] - 0s 43us/step - loss: 16971605513.8192
Epoch 13/30
1460/1460 [==============================] - 0s 35us/step - loss: 13238296163.5945
Epoch 14/30
1460/1460 [==============================] - 0s 36us/step - loss: 10075523846.3123
Epoch 15/30
1460/1460 [==============================] - 0s 35us/step - loss: 7675099012.5589
Epoch 16/30
1460/1460 [==============================] - 0s 43us/step - loss: 6079127929.3370
Epoch 17/30
1460/1460 [==============================] - 0s 44us/step - loss: 5149457016.6356
Epoch 18/30
1460/1460 [==============================] - 0s 31us/step - loss: 4692562721.6658
Epoch 19/30
1460/1460 [==============================] - 0s 35us/step - loss: 4482126337.4027
Epoch 20/30
1460/1460 [==============================] - 0s 35us/step - loss: 4400006315.8356
Epoch 21/30
1460/1460 [==============================] - 0s 33us/step - loss: 4363956854.5315
Epoch 22/30
1460/1460 [==============================] - 0s 41us/step - loss: 4346799088.5699
Epoch 23/30
1460/1460 [==============================] - 0s 39us/step - loss: 4329084804.5589
Epoch 24/30
1460/1460 [==============================] - 0s 32us/step - loss: 4307183881.8192
Epoch 25/30
1460/1460 [==============================] - 0s 35us/step - loss: 4271756921.3370
Epoch 26/30
1460/1460 [==============================] - 0s 32us/step - loss: 4242046571.3096
Epoch 27/30
1460/1460 [==============================] - 0s 39us/step - loss: 4212544975.6055
Epoch 28/30
1460/1460 [==============================] - 0s 37us/step - loss: 4181936942.9918
Epoch 29/30
1460/1460 [==============================] - 0s 36us/step - loss: 4152809577.2055
Epoch 30/30
1460/1460 [==============================] - 0s 33us/step - loss: 4123962195.4630

**We now want to make a prediction based on our model. To do this, we create an np.array with the different attributes of a house. The correct order is:**
1. YearBuilt
2. 2ndFlrSF
3. GrLivArea
4. FullBath
5. HalfBath
6. BedroomAbvGr
7. TotRmsAbvGrd
8. YrSold
**You can see the sample data we fed the network was the exact same as the first value in our dataset. The true value of this house was $208500, so you can see we were just a few thousand off. Note that usually to test the model most accurately, we must use data the model has not trained on.**

In [ ]:
test_data = np.array([2003,	854,	1710,	2,	1,	3,	8,	2008])
print(model.predict(test_data.reshape(1,8), batch_size=1))

[[204284.23]]

**Finally, if you want to save this model and use it for later, use the following code. You can see it saved to our colab environment**

In [ ]:
model.save('saved_model.h5')
!ls

drive  sample_data  saved_model.h5

**To recover the model, use this code. You'll see the outputed number is the same as the one we predicted above, except for we restored the model from a file. By saving a model, it can more easily be deployed to production.**

In [ ]:
old_model = keras.models.load_model('saved_model.h5')

test_data = np.array([2003,	854,	1710,	2,	1,	3,	8,	2008])
print(old_model.predict(test_data.reshape(1,8), batch_size=1))

[[204284.23]]